main, aside {
    padding: 40px 0 40px;
}
body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #777777;
}
.blog_style1 {
    margin-bottom: 40px;
  }
  
  .blog_style1 .blog_text {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .blog_style1 .blog_text .blog_text_inner {
    background: #fff;
    margin-top: -100px;
    position: relative;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
    padding: 40px;
  }
  
  .blog_style1 .blog_text .blog_text_inner .cat {
    display: inline-block;
    border: 1px solid #ff2f92;
    line-height: 28px;
    padding: 0px 20px;
    color: #777777;
    border-radius: 15px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .blog_style1 .blog_text .blog_text_inner h4 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    color: #222222;
    padding-right: 20px;
    margin-bottom: 17px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
  
  .blog_style1 .blog_text .blog_text_inner h4:hover {
    color: #ff2f92;
  }
  
  .blog_style1 .blog_text .blog_text_inner p {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 22px;
  }
  
  .blog_style1 .blog_text .blog_text_inner .date a {
    color: #777777;
    font-size: 12px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
  
  .blog_style1 .blog_text .blog_text_inner .date a:hover {
    color: #ff2f92;
  }
  
  .blog_style1 .blog_text .blog_text_inner .date a i {
    padding-right: 5px;
  }
  
  .blog_style1 .blog_text .blog_text_inner .date a:last-child {
    margin-right: 0px;
  }
  
  .blog_style1.small .blog_text .blog_text_inner {
    margin-top: -50px;
  }
  
  .blog_style1.small .blog_text .blog_text_inner h4 {
    font-size: 18px;
    line-height: 26px;
    padding-right: 0px;
  }
  
  .row.m0.post_cat_item {
    margin-bottom: 40px;
  }
  
  /* End Blog Style One Area css

  /*============ blog_left_sidebar css ==============*/
.blog_item {
    margin-bottom: 40px;
  }
  
  .blog_info {
    padding-top: 30px;
  }
  
  .blog_info .post_tag {
    padding-bottom: 20px;
  }
  
  .blog_info .post_tag a {
    font: 300 14px/21px "Roboto", sans-serif;
    color: #222222;
  }
  
  .blog_info .post_tag a:hover {
    color: #777777;
  }
  
  .blog_info .post_tag a.active {
    color: #ff2f92;
  }
  
  .blog_info .blog_meta li a {
    font: 300 14px/20px "Roboto", sans-serif;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block;
  }
  
  .blog_info .blog_meta li a i {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle;
  }
  
  .blog_info .blog_meta li a:hover {
    color: #ff2f92;
  }
  
  .blog_post img {
    max-width: 100%;
  }
  
  .blog_details {
    padding-top: 20px;
  }
  
  .blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #222222;
    font-weight: 600;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .blog_details h2:hover {
    color: #ff2f92;
  }
  
  .blog_details p {
    margin-bottom: 26px;
  }
  
  .view_btn {
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
    color: #222222;
    font-weight: 500;
    padding: 0px 30px;
    background: #fff;
  }
  
  .blog_right_sidebar {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
    padding: 1px;
  }
  
  .blog_right_sidebar .widget_title {
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #222222;
    border-left: 3px solid #ff2f92;
    padding: 6px 0px 6px 13px;
    margin-bottom: 30px;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 1px solid #eeeeee;
    width: 100%;
    font-weight: 300;
    color: #777777;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: transparent;
    
    
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control.placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #777777;
    font-weight: 700;
    padding: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .blog_right_sidebar .author_widget {
    text-align: center;
    
  }
  
  .blog_right_sidebar .author_widget h4 {
    font-size: 18px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  
  .blog_right_sidebar .author_widget p {
    margin-bottom: 0px;
  }
  
  .blog_right_sidebar .author_widget .social_icon {
    padding: 7px 0px 15px;
  }
  
  .blog_right_sidebar .author_widget .social_icon a {
    font-size: 14px;
    color: #222222;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .blog_right_sidebar .author_widget .social_icon a + a {
    margin-left: 20px;
  }
  
  .blog_right_sidebar .author_widget .social_icon a:hover {
    color: #ff2f92;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 20px;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 4px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    color: #ff2f92;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0px;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #777;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li:hover {
    border-color: #ff2f92;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #ff2f92;
  }
  
  .blog_right_sidebar .newsletter_widget {
    text-align: center;
  }
  
  .blog_right_sidebar .newsletter_widget .form-group {
    margin-bottom: 8px;
  }
  
  .blog_right_sidebar .newsletter_widget .input-group-prepend {
    margin-right: -1px;
  }
  
  .blog_right_sidebar .newsletter_widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top;
    font-size: 12px;
    line-height: 36px;
    padding: 0px 0px 0px 15px;
    border: 1px solid #eeeeee;
    border-right: 0px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control {
    font-size: 12px;
    line-height: 24px;
    color: #cccccc;
    border: 1px solid #eeeeee;
    border-left: 0px;
    border-radius: 0px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control.placeholder {
    color: #cccccc;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
    color: #cccccc;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
    color: #cccccc;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
    color: #cccccc;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .blog_right_sidebar .newsletter_widget .bbtns {
    background: #ff2f92;
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    display: inline-block;
    font-weight: 500;
    padding: 0px 24px 0px 24px;
    border-radius: 0;
  }
  
  .blog_right_sidebar .newsletter_widget .text-bottom {
    font-size: 12px;
  }
  
  .blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
  }
  
  .blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 13px;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #222222;
    font-size: 12px;
  }
  
  .blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #ff2f92;
    color: #fff;
  }
  
  .blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eeeeee;
    margin: 30px 0px;
  }
  

  
    /*---------------------------------------------------- */


    @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #777777;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pad_top {
  padding-top: 120px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-100 {
  margin-top: 100px;
}

.p0 {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto;
  }
}

/* Main Title Area css
============================================================================================ */
