{% load static %}
<!-- Page Footer-->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h6 class="text-white">Itech_Verse</h6>
                </div>
                <div class="contact-details">
                    <p>257/3, west Nakhala Para, Dhaka, Bangladesh</p>
                    <p>Phone: (+880) 1682765544</p>
                    <p>Email: <a href="#">mdimranhossain0066@gmail.com</a></p>
                    <ul class="social-menu">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menus d-flex">
                    <ul class="list-unstyled">
                        <li> <a href="#">About</a></li>
                        
                        <li> <a href="#">Contact</a></li>
                        <li> <a href="{% url 'privacy' %}">Privacy &amp; Policy</a></li>
                        <li> <a href="#">Terms &amp; Condition</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li> <a href="#">Hire Me</a></li>
                        <li> <a href="#">FAQ</a></li>
                        <li> <a href="#">Blog</a></li>
                        <li> <a href="#">My Projects</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2020. All rights reserved By Imran Hossain.</p>
                </div>
  
            </div>
        </div>
    </div>
</footer>