{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url({% static 'img/bg-02.jpg' %});">
                <span class="login100-form-title-1">
                    Privacy & Policy
                </span>
            </div>

            <div class="container" style="margin-top: 20px; text-align: justify; color:rgb(8, 8, 8);>
                <p style="text-align: justify; color:rgb(8, 8, 8);" >
                    The owner of this blog reserves the right to edit or delete any comments submitted to this blog without notice due to;
                </p>

                <ul style="  display: block;
                list-style-type: decimal;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 0;
                margin-right: 0;
                padding-left: 40px;" >
                    <li>This blog does not share personal information with third parties nor do we store any information about your 
                        visit to this blog other than to analyze and optimize your content and reading experience through the use of cookies.</li>
                    <br>
                    <li>We are not responsible for republished content from this blog on other blogs or websites without our permission.</li>
                    <br>
                    <li>You can turn off the use of cookies at any time by changing your specific browser settings.</li>
                        <br>
                    <li>This blog is a personal blog written and edited by me. This blog accepts forms of cash advertising, sponsorship, paid insertions or other forms of compensation.</li>
                    <br>
                    <li>Comments deemed to be spam or questionable spam</li>
                    <br>
                    
                    <li>Comments containing language or concepts that could be deemed offensive</li>
                    <br>
                    <li>Comments including profanity</li>
                    <br>
                    <li>Comments that attack a person individually</li>
                  </ul>

             <p style="text-align: justify; color:rgb(8, 8, 8);">By using our website, you hereby consent to our privacy policy and agree to its terms.This privacy policy statements is made on [august 02, 2020] and may have a change on the futures with or without notice. 
            You should read this privacy policy on this page on the futures when updated.</p>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}